@model MC3_Music.Models.Album
@{
    ViewBag.Title = "Random";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-weight: bold">
                @Model.Title
                <small style="font-style:italic; font-weight: 100">@Model.Artist</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <img src="http://placehold.it/750x500" class="img-responsive">
        </div>

        <div class="col-lg-2">
            <p>Copies Available: @Model.Stock</p>
            <p>Genre: @Model.Genre</p>
            <h3>Tracks</h3>
            <ol>
                @foreach (var song in Model.Songs)
                {
                <li>@song</li>
                }
            </ol>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn-checkout">Add to Cart</button>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Related Albums</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img src="http://placehold.it/500x300" class="img-responsive img-customer">
            </a>
        </div>
    </div>
</div>