@model MC3_Music.ViewModels.SingleAlbumViewModel

@{
    ViewBag.Title = "SingleAlbum";
}

<div class="container">
    <div class="row">
            <div class="col-lg-10">
                <h1>
                    @Model.Album.Title
                    <small>@Model.Album.Artist</small>
                </h1>
                </div>
                <div class="col-lg-2">
                    <h1>$@Model.Album.Price.ToString()</h1>
                </div>
    </div>
    <hr class="header-line"/>
        <div class="row">
            <div class="col-lg-6">
                <img src="@Model.Album.ImageURL" class="img-responsive-SingleAlbum">
            </div>

            <div class="col-lg-3">
                <h3>Rating: @Model.Album.Rating / 5</h3>
                <h3>Genre: @Model.Album.Genre</h3>
                <h3>Tracks</h3>
                <ol>
                    @foreach (var song in Model.Songs)
                {
                    if (song.album == Model.Album)
                    {
                        <li>@song.SongTitle</li>

                }
            }
                </ol>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label>Credit Card Type</label>
                    <select class="form-control" id="ccType">
                        <option>Large</option>
                        <option>Medium</option>
                        <option>Small</option>
                    </select>
                </div>
                <a href="@Url.Action("AddToCart", "Checkout", new { id = Model.Album.Id } )">
                    <button type="button" class="btn-checkout">Add to Cart</button>
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Related Albums</h3>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img src="http://placehold.it/500x300" class="img-responsive img-customer">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img src="http://placehold.it/500x300" class="img-responsive img-customer">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img src="http://placehold.it/500x300" class="img-responsive img-customer">
                </a>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img src="http://placehold.it/500x300" class="img-responsive img-customer">
                </a>
            </div>
        </div>
    </div>